main {
  max-width: 100vw;
  justify-content: center;
}

:root {
  --primary: #58606D;
  --secondary: #6FABB1;
  --tertiary: #B12704;
  --light: #fafafa;
  --dark: #000000;
  --darker: #111111;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);

}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  background: var(--primary);
  color: var(--light);
  /* font-family: 'Apple Chancery', Arial, Helvetica, sans-serif; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header-bg {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 400px;
  height: 400px;
  overflow: hidden;
  background-image: url('../src/assets/website\ images/facebook_cover_photo_2.png');
  width: 100%;
}

footer a:link, a:visited{
  color: white;
  text-decoration: none;
  }

a:hover {
  text-decoration: none;
}

header a {
  color: var(--light);
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--secondary);
}

button:hover {
  opacity: .8;
}

button[disabled] {
  cursor: default;
  opacity: .8;
}

form {
  width: 40%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

li {
  list-style: none;
}

nav a:hover {
  text-decoration: none;
}

nav li {
  cursor: pointer;
}

button {
  background: var(--primary);
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 30px;
  padding: 10px 15px;
}

.navActive {
  color: var(--secondary);

}

#menuToggle input {
  opacity: 0;
}


#menuToggle {
  display: block;
  cursor: pointer;
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 1000;
  /* Ensure the hamburger icon appears above other elements */
}

#menuToggle span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  /* Set the color of the hamburger icon to white */
  margin: 6px 0;
  transition: transform 0.3s;
  /* Add a transition effect for smooth icon animation */
}

#menuToggle.open span:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

#menuToggle.open span:nth-child(2) {
  opacity: 0;
}

#menuToggle.open span:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

.PDF {
  width: 1000px;
  height: 900px;
}

nav {
  max-width: min-content;
  font-size: 2rem;
  font-weight: normal;
}

nav.nav-wrapper {
  position: absolute;
  top: 0;
  right: 0;
}

.menu-toggle {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.menu-toggle span {
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  /* Add color to the hamburger icon */
  margin: 6px 0;
}

.menu-toggle.open span {
  /* Add styles for the open menu icon (e.g., close icon appearance) */
}

/* Add styles for nav-container */
.nav-container {
  display: flex;
  justify-content: flex-end;
  padding: 15px;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* Align menu items to the right side */
  position: absolute;
  top: 50px;
  /* Adjust the top position as needed */
  right: 0;
  /* Adjust the right position as needed */
  background-color: var(--primary);
  /* Add background color to the menu */
  padding: 10px;
  border-radius: 5px;
  transform: translateX(100%); /* Move the menu to the right by 100% of its own width */
  transition: transform 0.3s ease-in-out; /* Add a transition effect for smooth sliding animation */

}

.nav-links.show {
 right: 0;
 display: flex;
 transform: translateX(0); /* Move the menu back to its original position (visible) */

  /* Display the menu when it's open */
}

.nav-links li {
  margin: 0 10px;
}
































































/* MOBILE */

@media only screen and (max-width: 600px) {

  nav {
    max-width: min-content;
    font-size: 2rem;
    font-weight: normal;
  }

  nav.nav-wrapper {
    position: absolute;
    top: 0;
    right: 0;
  }

  .menu-toggle {
    cursor: pointer;
    display: flex;
    flex-direction: column;
  }

  .menu-toggle span {
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    /* Add color to the hamburger icon */
    margin: 6px 0;
  }

  .menu-toggle.open span {
    /* Add styles for the open menu icon (e.g., close icon appearance) */
  }

  .nav-container {
    display: flex;
    justify-content: flex-end;
    padding: 15px;
  }

  /* Styles for the main content */
  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 200px);
    /* Adjust the height as needed */
  }

  .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* Align menu items to the right side */
    position: absolute;
    top: 50px;
    /* Adjust the top position as needed */
    right: 20px;
    /* Adjust the right position as needed */
    background-color: var(--primary);
    /* Add background color to the menu */
    padding: 10px;
    border-radius: 5px;
    display: none;
    /* Hide the menu by default */
  }

  .nav-links.show {
    display: flex;
    transform: translateX(0); /* Move the menu to the right by 0, making it visible */
 
    /* Display the menu when it's open */
  }

  .nav-links.hide {
    transform: translateX(100%);
  }

  .nav-links li {
    margin: 0 10px;
  }

  .PDF {
    width: 500px;
    height: 700px;

  }
}